################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SFS_SmokeTest/TestCases_Docs/~$ATX_P0testcases.xlsx
